@model StoneCase.Domain.Entity.Cobranca


<h2>Cobranças</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>CPF</td>
            <td>Vencimento</td>
            <td>Valor</td>
        </tr>
    </thead>
    <tbody>
      
    </tbody>


</table>
