<h2>Ação Realizada com Sucesso!</h2>

<button class="btn btn-primary" onclick="voltar()">Voltar Para Home</button>


<script>
    function novoCliente() {
        window.location.href = window.location.origin + "/Home";
    }

</script>